* {
  margin: 0;
  padding: 0;
}
body {
  height: 1000px;
  font-size: 24px;
  font-family: sans-serif;
}

.container {
  width: 825px;
  margin: 0 auto;
}

article {
  margin-top: 25px;
  border: 5px solid rgb(21, 43, 117);
}
.main-header {
  color: rgb(39, 99, 167);
  border-bottom: 5px solid rgb(21, 43, 117);
  background-color: #f7f7f7;
  text-align: center;
}
h3 {
  margin: 10px auto;
}
a:link,
a:visited {
  color: rgb(39, 99, 167);
  text-decoration: none;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a:hover,
a:active {
  color: rgb(168, 92, 41);
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}
.price {
  font-size: 35px;
}

.product-details-list {
  list-style: square;
}

ul {
  margin-bottom: 20px;
  margin-left: 60px;
}
li {
  margin-bottom: 15px;
}

button {
  font-size: 30px;
  background-color: rgb(39, 99, 167);
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100px;
}

button:hover {
  background-color: rgb(168, 92, 41);
  /* color: rgb(39, 99, 167); */
  cursor: pointer;
  border-top: 5px solid rgb(21, 43, 117);
  width: 100%;
}
